@charset "utf-8";
@keyframes pac-bg {
    0% {
        background-position:0% 0%;
    }
    50% {
        background-position:50% 0%;
    }
    100% {
        background-position:100% 0%;
    }
}

@keyframes package {
    0% {
        opacity:0;
        transform-origin:0 100%;
        transform:rotate(-15deg) translateY(-30px);
    }
    70% {
        transform-origin:0 100%;
        transform:rotate(-15deg) translateY(-10px);
    }
    100% {
        transform-origin:0 100%;
        transform:rotate(0deg) translateY(0px);
    }
}
@keyframes wheel {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

@keyframes moregame-wheel {
    0% {
        left:-50%;
        opacity:0.15;
    }
    15% {
        opacity:0.05;
    }
    30% {
        opacity:0.15;
    }
    45% {
        opacity:0.05;
    }
    60% {
        opacity:0.15;
    }
    75% {
        opacity:0.05;
    }
    90% {
        opacity:0.15;
    }
    100% {
        left:0;
        opacity:0.05;
    }
}
/* 헤더 */
header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    position:absolute; z-index:9;
    left:0;
    top:0;
    width:100%; 
    height:100px;
    padding:0 100px;
    background:var(--white);
    font-family: 'Poppins', sans-serif;
}
header h2 a {
    display:flex;
}
header h2 a .neo {
    color:rgb(95, 196, 108);
}
header ul {
    display:flex;
    justify-content:center;
    align-items:center;
}
header li a { margin:10px; text-transform:uppercase; font-weight:500;}
header li a:hover .text{
    color:rgb(95, 196, 108);
}
.toggle { display:none;}
/* 섹션 */
section { 
    font-family: 'Noto Sans KR', sans-serif;
    position:relative;
    display:flex; align-items: center; justify-content:space-around; 
    width:100%; height:1000px; padding:0 100px 200px; overflow:hidden;
}
section:before {
    content:"\f11b";
    font-family:"Font Awesome 5 Free";
    position:absolute; z-index:-1;
    max-width:600px;
    height:500px;
    left:0;
    bottom:calc(-15% + 250px/2);
    text-align:left;
    font-size:25em;
    font-weight:600;
    transform:rotate(20deg);
}
/* wheel-bg */

.wheel-con {
    position:absolute; z-index:-1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
section .wheel-bg {
    position:absolute; z-index:-2;
    left:50%;
    top:50%;
    width:500px;
    height:500px;
    display:flex;
    justify-content: center;
    align-items: center;
    animation:wheel 15s linear infinite;
}
section .wheel-bg ul {
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    transform:translateX(-432px);
}
section .wheel-bg ul li {
    position:absolute;
    transform-origin:450px;
    transform:rotate(calc(360deg/14*var(--i)));
    font-size:30px;
}
section .wheel-bg ul li ion-icon, section .wheel-bg ul li i {
    transform:rotate(calc(-360deg/14*var(--i)));
    color:#555;
}

/* 텍스트 박스 */
.text-box { display:flex; justify-content:center; flex-direction:column; 
}
.text-box h3 { 
    font-size:28px; margin-bottom:20px; 
    color:#333;
}
.text-box ul li { display:none;
}
.text-box ul li.active { display:block }
.text-box ul li p:nth-child(1) { font-size:24px; font-weight:500;}


/* 썸네일 */
.thumb { 
    display:flex;
    margin-top:40px; 
}
.thumb img { max-width:75px; margin:5px; transition:0.4s; cursor:pointer;}
.thumb img.active { transform:translateY(-20px); }
.thumb img:hover {
    transform:translateY(-20px);
}

/* 패키지박스 */
section .package-box { 
    display:flex; justify-content:center; align-items: center;
    width:32%; height:336px; margin-top:100px; 
}

.package-box .package { 
    visibility:hidden; position:absolute; z-index:2; overflow:hidden; 
    min-width:500px;
    border-radius:20px; 
    box-shadow:3px 5px 8px rgba(0,0,0,0.30); 
    cursor:pointer;
}

.package-box .package.active { 
    z-index:2; visibility:visible; 
    animation:package 1s;
}
.package-box .package:before {
    content:"";
    display:block;
    padding-top:120%;
}
.package-box .pac-bg { 
    position:absolute; left:0; top:0; width:100%; height:100%; 
    background:linear-gradient(to right, #8E0E00,#7b4397,#b3464d );
    background-size:1000% 1000%;
    animation:pac-bg 5s infinite alternate;
}
.package-box .package:nth-child(3) .pac-bg {
    background:var(--white);
}
.package-box .package img { 
    position:absolute; 
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%; height:100%; 
    object-fit:cover;
}

.package-box .package .case { 
    object-fit:fill;
}

/* 패키지 액티브 */


/* ------- 심플버전 -------
.package-box .package .first-obj {
    transform:translateY(-50%);
}
.package-box .package .second-obj {
    transform:translateY(50%);
}
.package-box .package .third-obj {
    transform:translateY(-100%);
}
.package-box .package .fourth-obj {
    transform:translateY(100%);
}


.package.active .first-obj, 
.package.active .second-obj, 
.package.active .third-obj,
.package.active .fourth-obj{
    transition:1s;
    transform:translateY(0);
}
*/





/* Taken7 */

.package-box .package:nth-child(1) .first-obj {
    transform:translateY(-50%);
}
.package-box .package:nth-child(1) .second-obj {
    transform:translateY(50%);
}
.package-box .package:nth-child(1) .third-obj {
    transform:translateY(-100%);
}
.package-box .package:nth-child(1) .fourth-obj {
    transform:translateY(-50%);
}


.package:nth-child(1).active .first-obj, 
.package:nth-child(1).active .second-obj, 
.package:nth-child(1).active .third-obj
{
    transition:1.2s cubic-bezier(1,-0.03,.41,.95);
    transform:translate(0, 0);
}

.package:nth-child(1).active .third-obj {
    transition:0.8s;
    transition-delay:1.0s;
}
.package:nth-child(1).active .fourth-obj {
    transition:0.8s cubic-bezier(1,-0.03,.41,.95);
    transition-delay:1.2s;
    transform:translateY(60%);
}






/* ========= 뱀과 같이 ========= */

.package-box .package:nth-child(2) .first-obj {
    transform:translateY(-50%);
}
.package-box .package:nth-child(2) .second-obj {
    transform:translateY(30%);
}
.package-box .package:nth-child(2) .third-obj {
    transform:translateX(100%);
}
.package-box .package:nth-child(2) .fourth-obj {
    transform:translateY(100%);
}


.package:nth-child(2).active .first-obj, 
.package:nth-child(2).active .second-obj, 
.package:nth-child(2).active .third-obj,
.package:nth-child(2).active .fourth-obj{
    transform:translate(0, 0);
}


.package:nth-child(2).active .first-obj {
    transition:0.6s;
    transition-delay:0.6s;
}
.package:nth-child(2).active .second-obj {
    transition:1.2s;
}
.package:nth-child(2).active .third-obj {
    transition:2s;
}
.package:nth-child(2).active .fourth-obj {
    transition:0.7s;
    transition-delay:1s;
}




/* ========== 갑옵워 ========== */
.package-box .package:nth-child(3) .first-obj {
    transform:translateY(50%);
}
.package-box .package:nth-child(3) .second-obj {
    transform:translateY(30%);
}
.package-box .package:nth-child(3) .third-obj {
    transform:translateX(100%);
}
.package-box .package:nth-child(3) .fourth-obj {
    transform:translate(-100%, 50%) scale(0.2);
}


.package:nth-child(3).active .first-obj, 
.package:nth-child(3).active .second-obj, 
.package:nth-child(3).active .third-obj,
.package:nth-child(3).active .fourth-obj{
    transition:2s;
    transform:translate(0, 0);
}

/* chapter */

.chapter {
    position:relative;
    width:100%;
    height:300px;
    margin:50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chapter:before {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:150px;
    background:linear-gradient(to bottom, #fff, transparent);
    z-index:999;
    box-shadow:0 -3px 4px rgba(0,0,0,0.3);
}
.chapter:after {
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:150px;
    background:linear-gradient(to top, #fff, transparent);
    z-index:999;
    box-shadow:0 3px 4px rgba(0,0,0,0.3);
}

.chapter img {
    position:absolute; z-index:-1;
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0.6;
}

.chapter h2 {
    font-size:50px;
    text-shadow:0 3px 4px rgba(255,255,255,0.3);
    mix-blend-mode: lighten;
}

/* game-infomations */

.game-infomations {
    position:relative;
    width:100%;
    padding-top:10px;
    padding-bottom:100px;
}
.container {
    width:90%;
    max-width:1000px;
    margin:0 auto;
}

/* game-infomations bg*/


.game-infomations .wheel-bg {
    position:absolute; z-index:-2;
    left:-25%;
    bottom:0%;
    width:500px;
    height:500px;
    display:flex;
    justify-content: center;
    align-items: center;
    animation:wheel 15s linear infinite;
    opacity:0.5;
}
.game-infomations .wheel-bg ul {
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    transform:translateX(-432px);
}
.game-infomations .wheel-bg ul li {
    position:absolute;
    transform-origin:450px;
    transform:rotate(calc(360deg/14*var(--i)));
    font-size:100px;
}
.game-infomations .wheel-bg ul li ion-icon, section .wheel-bg ul li i {
    transform:rotate(calc(-360deg/14*var(--i)));
    color:#999;
}



/* 스크롤 이미지 */
.scrolls {
    position:relative;
    width:100%;
    height:450px;
    margin-top:100px;
    display:flex;
    justify-content: center;
    padding:0 50px;
}
.scrolls .scr-game {
    position:absolute; z-index:1;
    width:90%;
    height:100%;
    overflow:hidden;
    box-shadow:1px 1px 5px #000,
    0px 0px 0px 2px #333 inset;
    transition:0.4s;
    cursor:pointer;
}
.scrolls .scr-game:nth-child(1) {
    opacity:0.3;
    transform:translate(-20px, -20px);
    background: url('../imgs/taken7/tak-scroll/tak-behindmap.png');
}
.scrolls .scr-game:nth-child(2) {
    opacity:0.3;
    transform:translate(-20px, -20px);
    background: url('../imgs/like-snake/ls-scroll/ls-behindmap.png');
}
.scrolls .scr-game:nth-child(3) {
    opacity:0.3;
    transform:translate(-20px, -20px);
    background: url('../imgs/gow/gow-scroll/gow-behindmap.png');
}
.scrolls .scr-game.active {
    opacity:1;
    transform:translate(0, 0);
    transition:0.5s;
    z-index:3;
}
.scrolls .scr-game img {
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
}

/* 스크롤게임 백그라운드*/
.imgBx {
    position:absolute;
    width:100%;
    height:400px;
    overflow:hidden;
}

.imgBx img {
    width:100%;
    height:100%;
    object-fit:cover;
}

/* 게임소개 텍스트 */

.game-textbox {
    display: flex;
    justify-content: center;
    width:100%;
    
}
.game-textbox ul {
    position:relative;
    padding-top:30px;
}
.game-textbox ul li {
    display:none;
    justify-content: space-between;
    align-items: flex-start;
    min-width:100%;
}
.game-textbox ul li.active {
    display:flex;
}
.game-textbox ul li .gameinfo {
    max-width:70%;
}
.game-textbox ul li h3,
.game-textbox ul li p {
    color:var(--arclr);
    font-weight:400;
    letter-spacing:-1px;
    margin:15px;
}
.game-textbox ul li h3 {
    font-size:24px;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow:0 3px 4px rgba(0,0,0,0.30);
}
.game-textbox ul li a {
    margin-left:10px; letter-spacing: -3px;
    display:flex;
    align-items: center;
    width:220px;
    padding-top:5px;
    transition: 0.4s;
}
.game-textbox ul li a .play-btn {
    font-size:60px;
}
.game-textbox ul li a .play-text {
    display:block;
    height:50px;
    font-size:24px;
}
.gameinfo a:hover {
    transform:translateX(10px);
}
.gameinfo a:hover .play-btn ion-icon {
    color:rgb(95, 196, 108);
}
.game-textbox ul li .nowplay {
    width:30%;
    min-width:200px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.nowplay .nowplayicon ion-icon {
    display:flex;
    justify-content: center;
    align-items: center;
    transform:translateY(20px);
    transition:0.3s;
    font-size:200px;
}

.nowplay .nowplaytext {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:translateY(30px);
    transition:0.4s;
    opacity:0;
    font-size:33px;
}

.nowplay:hover ion-icon{
    transform:translateY(-10px);
    color:rgb(95, 196, 108);
}

.nowplay:hover ion-icon{
    transform:translateY(-10px);
    color:rgb(95, 196, 108);
}
.nowplay:hover .nowplaytext {
    visibility: visible;
    transform:translateY(-25px);
    opacity:1;
}


/* 트레일러 영상 팝업 */
.trailler-popup {
    display:none;
    position:fixed;  z-index:999;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
.trailler-popup.active {
    display:block;
}

.trailler-popup .trailler {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    width:600px;
    height:400px;
    background:#000;
}
.trailler-popup .trailler video {
    width:100%;
    height:100%;
}
.trailler-btn {
    position:absolute;
    right:-60px;
    top:-20px;
    font-size:60px;
}
.trailler-btn ion-icon {
    color:#ddd;
}


/* more games */

.more-games {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
    padding:100px 0;
}
.more-games .container {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.moregame {
    position:relative;
    display:flex;
    justify-content:center;
    flex-direction:column;
    max-width:250px;
    height:350px;
    margin:20px;
    box-shadow:0 3px 4px rgba(0,0,0,0.3),
    0 3px 4px rgba(0,0,0,0.3) inset;
    border-radius:15px 15px 0 0;
    overflow:hidden;
    cursor:pointer;
    transition:0.4s;
    opacity: 0.85;
}
.moregame:before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height: 88%;
    background:rgba(0,0,0,0.1);
    transition:0.4s;
}
.moregame:hover {
    opacity: 1;
    transform:scale(1.05);
}
.moregame:hover:before {
    background:rgba(0,0,0,0);
}
.moregame:hover 
.moregame img {
    width:100%;
    height:88%;
    object-fit:cover;
}
.moregame p {
    display:flex;
    justify-content: center;
    align-items: center;
    height:12%;
    font-size:18px;
    letter-spacing: -1px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.moregame-btn {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    transition:0.4s;
}
.moregame-btn .more-text {
    margin-left:60px;
    line-height:1px;
    font-size:30px;
}
.moregame-btn ion-icon {
    visibility: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    transition:0.4s;
    opacity: 0;
}
.moregame-btn span:nth-child(3) ion-icon{
    transition-delay:0.2s;
}
.moregame-btn:hover {
    transform:translateX(-20px);
}
.moregame-btn:hover ion-icon {
    color:rgb(95, 196, 108);
    visibility: visible;
    transition:0.4s;
    opacity: 1;
}

.more-games .wheel-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-games .wheel-con .wheel-bg {
    animation:moregame-wheel 15s alternate infinite;
    position:absolute;
}

.more-games .wheel-con ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-games .wheel-con ul li {
    margin:25px;
    font-size:150px;
}
/* footer */

footer {
    width:100%;
    padding:100px 0px;
    margin-top:100px;
    background:linear-gradient(to top, #222, rgb(61, 55, 58));
    --ftclr:#ccc;
}

footer > div {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

footer h4, footer p {
    color:var(--ftclr);
}
footer h4 {
    display:flex;
    font-size:50px;
    margin-bottom:20px;
}
footer h4 .neo{
    color:rgb(95, 196, 108);
    filter:invert(1);
}
footer h4 .player{
    color:var(--ftclr);
}
footer .sns a {
    margin:0 5px;
}
footer .sns i {
    transition:0.3s;
    font-size:60px;
    color:var(--ftclr);
}
footer .sns a:hover i {
    color:rgb(95, 196, 108);
}

























/* 미디어쿼리 */


@media screen and (max-width:767px) {
    /* 헤더 */
    header {
        height:60px;
        padding:0 20px;
    }
    header h2 a { font-size:24px;}
    
    header ul {
        visibility: hidden;
        flex-direction:column;
        position:fixed;
        left:-50%;
        top:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.5);
        transition: 0.4s;
        opacity: 0;
    }
    header ul.active {
        visibility: visible;
        display:flex;
        left:0;
        opacity: 1;
    }
    header ul li {
        width:100%;
    }
    header ul li a{
        display:block;
        width:100%;
        margin:0;
        padding:30px 20px;
        background: rgba(0,0,0,0.5);
        font-size:18px;
    }
    header ul li a span {
        color:#fff;
    }
    header ul li a:hover {
        background: rgba(0,0,0,0.3);
    }

    header .toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        width:40px;
        height:40px;
        cursor: pointer;
    }
    header .toggle.active {
        position:fixed;
        right:20px;
    }
    header .toggle:before {
        content:"\f0c9";
        font-family:"Font Awesome 5 Free";
        font-weight:600;
        font-size:30px;
    }
    header .toggle.active:before {
        content:"\f00d";
        font-family:"Font Awesome 5 Free";
        font-weight:600;
        font-size:30px;
        color:#ddd;
    }

    /* 섹션 */

    section {
        flex-direction: column;
        justify-content: center;
        padding:100px 20px 0px;
        height:auto;
        margin-bottom:100px;
    }
    section:before {
        display:none;
    }
    
    .text-box {
        display: flex; order:2;
        width:100%;
        margin-top:30px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .text-box h3 {
        font-size: 18px;
        margin-bottom:10px;
        letter-spacing: -1px;
    }
    .text-box ul {
        order:1;
    }
    .text-box ul li p:nth-child(1) {
        font-size: 18px;
    }
    .text-box ul li {
        letter-spacing: -1px;
        font-size:14px;
    }
    .thumb {
        justify-content: center;
        margin-bottom:20px;
        order: -1;
    }

    section .package-box {
        height:150px;
        margin-bottom:50px;
    }
    section .package-box .package {
        min-width:280px;
    }

    /* game-infomations */

    .scrolls {
        height: 200px;
    }

    .imgBx {
        height: 250px;
    }

    .game-textbox ul li {
        flex-direction: column;
        min-width: 100%;
    }
    .game-textbox ul li .gameinfo {
        max-width: 100%;
        margin-top: 20px;
    }
    .game-textbox ul li a {
        margin: 0 auto;
    }

    .game-textbox ul li h3 {
        font-size: 18px;
    }

    .game-textbox ul li p {
        font-size:14px;
    }

    .nowplay .nowplaytext {
        font-size: 24px;
    }
    .nowplay:hover .nowplaytext {
        transform: translateY(-40px);
    }

    .trailler-popup .trailler {
        width: 280px;
        height: 200px;
    }

    footer .container {
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    div.sns {
        margin-bottom:15px;
    }
}